@page
@model CraftsmanApp.Pages.ToolBoxes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Toolbox[0].Purchased)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Toolbox[0].Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Toolbox[0].Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Toolbox[0].SerialNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Toolbox[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Toolbox[0].OwnerId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Toolbox) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Purchased)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SerialNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ToolboxId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ToolboxId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ToolboxId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
